<h1> for a loan of $<%= @pv %>, at an annual rate of <%= @rate %>%, for <%= @nper %> monthly periods, the payment per period will be <%= @payment %> </h1>

<!-- <p> rate decimal is <%= @rate_decimal %> </p>
<p> rate factor is <%= @rate_factor %> </p>

<p> future value factor is <%= @fv_factor %> </p>
<p> multiplier is <%= @multiplier %></p> -->

<a href="/">click here to return</a>
